<section class="spotlight">
  <div class="image">
    <img src="images/pic01.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Leo and Niré</h2>
    <p>We met on the dating app bumble last year. I dropped a super swipe because I really wanted the opportunity to talk to her. I remember being so excited when we matched, but could never have known how far we would go together.</p>
    <p>The more time I spent with her, the more I started to realize I could never get tired of being with her. For Halloween we went on our first road trip together to a ghost town. Before I knew it, a 5 hour round trip turned into a 13 hour date complete with dinner at olive garden</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic02.jpg" alt="" />
  </div>
  <div class="content">
    <p>That Christmas I asked her to move in with me. It just made sense and felt right. Soon after, I was sure she was not only the love of my life , but also my best friend. Life just kept getting better and better.</p>
    <p><em>There was never enough time in the day to do all the things we wanted to do. Our cup runneth over, we like to say. She was the one.</em></p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic04.jpg" alt="" />
  </div>
  <div class="content">
    <p>Months later we started looking for rings. We have the same taste so it was fun looking for the perfect one. Once we found it, I started planning the proposal.</p>
    <p>I took her to one of my favorite hiking spots in Colorado, Saint Mary’s Glacier. Gorgeous mountain drive and an easy hike to a mountain lake. It was less easy than I thought, due to there still being snow and ice the whole way up but we managed not to fall!</p>
    <p><em>I went down on one knee at the lake and asked her to marry me.</em></p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic03.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Niré and Leo</h2>
    <p>When Leo’s cute dimple and warm smile caught my attention on Bumble, I could have never known just what a treasure he really was. We both wanted to cut through some red tape, so we asked each other a lot of ‘hard’ questions over our first couple dates—but we just kept agreeing and finding more things to love about each other.</p>
    <p>During that time, I was going through a very stressful home renovation and move, and Leo’s true selfless character came through when he drove across town night after night to spend time with me, even though it was time spent on our hands and knees doing work on the floor or moving furniture in the snow.</p>
    <p><em>He quickly became the bright spot of sunshine in my life and I knew I never wanted to be without him.</em></p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic05.jpg" alt="" />
  </div>
  <div class="content">
    <p>Leo was open-minded, smart, optimistic, and a delight to spend time with. We made a wonderful team: trying out new recipes, working together making things, and discussing solutions to problems and projects.</p>
    <p>Plans for the next day and the next week turned into plans for months and years. Everything was better together; the happiness was happier and the problems didn’t seem so scary when we were both confronting them.</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic06.jpg" alt="" />
  </div>
  <div class="content">
    <p>We got excited about the same things, from marathoning Lord of the Rings movies and dressing up for the Renaissance Festival, to writing by the fire with hot mugs of tea beside us, to planning to deck out our future house for Halloween and travel to see castles and ruins in Europe.</p>
    <p>When we talked about the future, Leo told me he wanted us to be like the couple from “UP” and grow old together having adventures.</p>
    <p><em>Trying to pack all the things we want to enjoy together into one short lifetime is an impossible task, but I can’t wait to spend every day trying!</em></p>
  </div>
</section>
