<div class="inner">
  <header class="major">
    <h2>Registry</h2>
    <p>View Leo and Niré's registry options below.
      <br />
      Help donate for their <strong><em>first house fund</em></strong>, or pick something from their Amazon list!</p>
  </header>
  <h4><a target="_blank" rel="noopener noreferrer" href="https://withjoy.com/nire-and-leo/registry">Donate toward our first house</a></h4>
  <h4><a target="_blank" rel="noopener noreferrer" href="https://www.amazon.com/wedding/nire-aschenbrenner-leo-mcclung-denver-july-2022/registry/396HI77JBUFS7">View our registry on Amazon</a></h4>
</div>
